.header {
    border: 1px solid black;
  }
  
  .logo > img {
      width: 100px;
      height: 50px;
      padding: 3px;
      border: 0px solid transparent;
      border-radius: 5px;
  }
  
  .restuarant-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .card > img {
    width: 100%;
  }